/*RESPONSIVE PARA ESCRITORIO*/
@media (min-width: 720px){
  header{
    position: fixed;
    width: 100%;
  }
  
  header .contenedor-header{
    flex-direction: row;
    justify-content: space-between;
  }
  
  header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  
   #mi-contacto .contacto{
    display: flex;
    justify-content: center;
  }
  #mi-contacto p{
    display: block;
    margin-bottom: 30px;
  }
  #mi-contacto h2{
    font-size: 4em;
  }
  #mi-contacto h3{
    margin-top: 0;
  }
  #mi-contacto .carta{
    padding: 50px;
  }
  
  footer .contenedor-pie-pagina{
    justify-content: flex-end;
  }
}
@media (min-width: 1000px){
  #caracteristicas{
    background-position-x: calc(100vw - 700px);
    }
}